<ion-header class="marronClaro">
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Para ti</ion-title>
      <app-navbar-superior></app-navbar-superior>
      <ion-icon name="notifications-outline" (click)="navigateToNotificaciones()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="posicion">
    <ion-text>Recomendaciones</ion-text>
  </div>

  <swiper-container
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">
    <swiper-slide *ngFor="let slide of slides">{{ slide }}</swiper-slide>
  </swiper-container>

  <div class="posicion2">
    <ion-text>Probar lo siguiente</ion-text>
  </div>

  <swiper-container
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">
    <swiper-slide *ngFor="let slide of slides">{{ slide }}</swiper-slide>
  </swiper-container>

</ion-content>

<app-navbar-inferior></app-navbar-inferior>
