.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ion-button {
  --background: #6C4E31;
  display: block;
  margin: 80px 20px 0 20px;
}

.nombreUsuario {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #6C4E31;
}
