<ion-header class="marronClaro navbar-superior" >
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Perfil</ion-title>
      <app-navbar-superior></app-navbar-superior>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let perfil of perfiles">
  <ion-img id="fotoPerfil" src="assets/icon/foto_perfil.webp" alt="FotoPerfil"></ion-img>

  <ion-title class="nombreUsuario">{{ perfil.username }}</ion-title>

  <ion-label class="seguidores">{{ seguidores }} seguidores - 0 seguidos</ion-label>
  <ion-label class="fraseRecetas">Recetas</ion-label>

  <div class="image-grid">
    <div class="image-item" *ngFor="let item of filteredItems">
      <img [src]="item" alt="Image">
    </div>
  </div>
</ion-content>

<ion-button *ngIf="!fromVerPublicacion" expand="block" class="editarPerfil" (click)="nagivateToConfiguracionPerfil()">Editar Perfil</ion-button>

<div *ngIf="fromVerPublicacion" class="contenedorBotones">
  <ion-button expand="block" class="seguirPerfil" [class.siguiendo]="siguiendo" (click)="toggleSeguir()">
    {{ siguiendo ? 'Siguiendo' : 'Seguir' }}
  </ion-button>
  <ion-button expand="block" class="enviarMensaje">Enviar Mensaje</ion-button>
</div>

<app-navbar-inferior></app-navbar-inferior>
