<ion-header class="marronClaro navbar-superior">
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Perfil</ion-title>
      <app-navbar-superior></app-navbar-superior>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!fromVerPublicacion">
    <ion-img *ngFor="let perfil of perfiles" class="fotoPerfil" [src]="perfil.fotoPerfilLink || 'assets/icon/foto_perfil.webp'" alt="FotoPerfil"></ion-img>
    <ion-title *ngFor="let perfil of perfiles" class="nombreUsuario">{{ perfil.username }}</ion-title>
    <ion-label class="seguidores">{{ seguidores }} seguidores - {{ seguidos }} seguidos</ion-label>
  </ng-container>

  <ng-container *ngIf="fromVerPublicacion">
    <ion-img *ngFor="let publicacion of publicaciones" class="fotoPerfil" [src]="publicacion.fotoPerfilLink || 'assets/icon/foto_perfil.webp'" alt="FotoPerfil"></ion-img>
    <ion-title *ngFor="let publicacion of publicaciones" class="nombreUsuario">{{ publicacion.username }}</ion-title>
    <ion-label class="seguidores">{{ seguidores }} seguidores - {{ seguidos }} seguidos</ion-label>
  </ng-container>

  <ion-label class="fraseRecetas">Recetas</ion-label>

  <div class="image-grid">
    <div class="image-item" *ngFor="let item of filteredItems">
      <img [src]="item" alt="Image">
    </div>
  </div>
</ion-content>

<ion-button *ngIf="!fromVerPublicacion" expand="block" class="editarPerfil" (click)="navigateToConfiguracionPerfil()">Editar Perfil</ion-button>

<div *ngIf="fromVerPublicacion" class="contenedorBotones">
  <ion-button expand="block" class="seguirPerfil" [class.siguiendo]="siguiendo" (click)="toggleSeguir()">
    {{ siguiendo ? 'Siguiendo' : 'Seguir' }}
  </ion-button>
  <ion-button expand="block" class="enviarMensaje" (click)="navigateToMensajes()">Enviar Mensaje</ion-button>
</div>

<app-navbar-inferior></app-navbar-inferior>
