#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-list {
  --ion-item-border-color: transparent;
}

.ion-padding {
  margin-left: 25px;
}


// CSS de los cards de los grupos
.caja_contenido_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caja_logo_grupo {
  display: flex;
  justify-content: center;

}

.caja_logo_grupo img {
  max-width: 100%;
}

.caja_tit_grupo {
  margin-left: 10px;
  margin-right: auto;
  padding-bottom: 5px;
  flex-shrink: 0;
}

.caja_detalles_grupo {
  margin-left: auto;
}

.caja_estado {
  align-items: center;
  margin-left: 90%;

}

.caja_botones {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

}

.botones{
  --background: #362110 !important;
  --color: #e5c0af;
}

.search-filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buscador {
  margin-top: 10px;
  border-radius: 40px ;
  --background: white !important;/* Fondo del input */
  --color: black !important;              /* Color del texto */
  --placeholder-color: gray !important;   /* Color del placeholder */
  --icon-color: black !important;         /* Color del icono de búsqueda */
  --clear-button-color: black !important;
}

.buscador .searchbar-input{
  color: black !important;
}

.filter-asterisk {
  font-size: 1em;
  color: #603F26;
  cursor: pointer;
  padding-right: 10px;
}
