.sin-espacios {
  padding: 0;
  margin: 0;
}

ion-row.sin-espacios {
  --ion-grid-row-padding: 0;
  --ion-grid-column-padding: 0;
}

ion-col.sin-espacios {
  padding: 0;
}

.tarjetaImpar, .tarjetaPar {
  margin: 0;
  border-collapse: collapse;
}


.tarjetaImpar {
  --background: #FFF2DB !important;
  border: #362110 1px solid;
}

.tarjetaPar {
  --background: #FFFFFF !important;
  border: #362110 2px solid;
}

.textoUsuario {
  font: bold 1.2em Arial;
  color: #362110;
  margin-bottom: 10px;
}

.mensaje {
  color: #362110;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ion-title {
  margin: 0;
  font-size: 20px;
}

app-navbar-superior {
  display: flex;
  gap: 15px;
}


// Simplemente quito los bordes porque si no, se ve mal el borde
// Agregamos borde solo en la parte superior e inferior
ion-item.tarjetaImpar, ion-item.tarjetaPar {
  --inner-border-width: 0px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #362110;
  border-bottom: 1px solid #362110;
}


// Quitamos bordes y espacios de la foto, también la hacemos redonda
ion-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.blanco {
  color: white;
}

.back-arrow {
  display: none;
  color: white;
}

@media (max-width: 412px) {
  .back-arrow {
    display: block !important;
    font-size: 1.5em !important;
    color: white !important;
    margin-top: 1%;
    margin-right: 5%;
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #6C4E31;
  font-size: 20px;
}

.centered-content ion-icon {
  font-size: 100px;
  margin-bottom: 20px;
}
