
.sin-espacios {
  padding: 0;
  margin: 0;
}

ion-row.sin-espacios {
  --ion-grid-row-padding: 0;
  --ion-grid-column-padding: 0;
}

ion-col.sin-espacios {
  padding: 0;
}

.tarjetaImpar, .tarjetaPar {
  margin: 0;
  border-collapse: collapse;
}


.tarjetaImpar {
  --background: #FFF2DB !important;
  border: #362110 1px solid;
}

.tarjetaPar {
  --background: #FFFFFF !important;
  border: #362110 2px solid;
}

.textoUsuario {
  font: bold 1.2em Arial;
  color: #362110;
  margin-bottom: 10px;
}

.mensaje {
  color: #362110;
}

.header-content {
  display: flex;
  justify-content: space-between; /* Espacio entre título y menú */
  align-items: center; /* Centrado vertical */
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

ion-title {
  margin: 0;
  font-size: 20px;
}

app-navbar-superior {
  display: flex;
  gap: 15px;
}


// Simplemente quito los bordes porque si no, se ve mal el borde
ion-item.tarjetaImpar, ion-item.tarjetaPar {
  --inner-border-width: 0px;
  align-items: center;
}

// Quitamos bordes y espacios de la foto, también la hacemos redonda
ion-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}




