<ion-content [fullscreen]="true">
  <div class="contenido">

    <ion-title class="titulo">Inicio Sesión</ion-title>

    <ion-text class="rellenar">Rellena los datos de inicio sesión</ion-text>

    <form [formGroup]="loginForm">
      <ion-list class="lista">
        <ion-text class="username">Usuario</ion-text>
        <div class="contenedor1">
          <ion-input class="usernameInput" placeholder="Introduce tu usuario" fill="outline" formControlName="username" ></ion-input>
        </div>

        <ion-text class="password">Contraseña</ion-text>
        <div class="contenedor2">
          <ion-input class="passwordInput" placeholder="Introduce tu contraseña" fill="outline" formControlName="password" type="password"></ion-input>
        </div>

      </ion-list>
    </form>

    <div class="mismaLinea" (click)="navigateToRegistro()">
      <ion-text class="cuenta">¿No tienes cuenta?</ion-text>
      <ion-text class="registrarse">Crear cuenta</ion-text>
    </div>

    <ion-button expand="block" class="botonSiguiente" (click)="doLogin()">Siguiente</ion-button>

  </div>
</ion-content>
