<ion-content [fullscreen]="true">
  <div class="contenido">

    <ion-title class="titulo">Inicio Sesión</ion-title>

    <ion-text class="rellenar">Rellena los datos de inicio sesión</ion-text>

    <ion-list class="lista">
      <ion-text class="usuario">Usuario</ion-text>
      <div class="contenedor1">
        <ion-input class="usuarioInput" placeholder="Introduce tu usuario" fill="outline"></ion-input>
      </div>

      <ion-text class="contrasena">Contraseña</ion-text>
      <div class="contenedor2">
        <ion-input class="contrasenaInput" placeholder="Introduce tu contraseña" fill="outline"></ion-input>
      </div>

    </ion-list>

    <div class="mismaLinea">
      <ion-text class="cuenta">¿No tienes cuenta?</ion-text>
      <ion-text class="registrarse">Crear cuenta</ion-text>
    </div>

    <ion-button expand="block" class="botonSiguiente">Siguiente</ion-button>

  </div>
</ion-content>
