<ion-footer class="mobile-menu">

  <ion-toolbar class="marronClaro">
    <ion-grid class="marronClaro">

      <ion-row class="marronClaro">

        <ion-col class="centrar">
          <ion-icon name="home-outline" style="color: #362110;" (click)="navigateToParati()"></ion-icon>
        </ion-col>

        <ion-col class="centrar">
          <ion-icon name="search-outline" style="color: #362110;" (click)="navigateToExplorar()"></ion-icon>
        </ion-col>

        <ion-col class="centrar" >
          <ion-icon name="add-circle-outline" style="color: #362110;" (click)="navigateToAgregar()"></ion-icon>
        </ion-col>

        <ion-col class="centrar" >
          <ion-icon name="chatbubble-outline" style="color: #362110;" (click)="navigateToChat()"></ion-icon>
        </ion-col>

        <ion-col class="centrar" >
          <ion-icon name="person-outline" style="color: #362110;" (click)="navigateToPerfil()"></ion-icon>
        </ion-col>

        <ion-col class="centrar" *ngIf="isAdmin">
          <ion-icon name="accessibility-outline" style="color: #362110;" (click)="navigateToAdmin()"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-footer>
