<!--Menú Teléfono-->

<ion-footer class="mobile-menu">

  <ion-toolbar class="marronClaro">
    <ion-grid class="marronClaro">

      <ion-row class="marronClaro">

        <ion-col class="centrar">
          <ion-icon name="home-outline" style="color: #362110;"></ion-icon>
        </ion-col>

        <ion-col class="centrar">
          <ion-icon name="search-outline" style="color: #362110;"></ion-icon>
        </ion-col>

        <ion-col class="centrar" >
          <ion-icon name="add-circle-outline" style="color: #362110;"></ion-icon>
        </ion-col>

        <ion-col class="centrar" >
          <ion-icon name="chatbubble-outline" style="color: #362110;"></ion-icon>
        </ion-col>

        <ion-col class="centrar" >
          <ion-icon name="person-outline" style="color: #362110;"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-footer>
