<ion-header class="marronClaro">
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Agregar</ion-title>
      <app-navbar-superior></app-navbar-superior>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="contenido">
    <div class="imagen">
      <img [src]="imagenUrl ? imagenUrl : 'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'" alt="Imagen de la receta" (error)="NoHayImagen($event)" />
    </div>

    <form [formGroup]="agregarForm" id="registro">
      <ion-list class="lista">
        <ion-text class="imagen">Imagen</ion-text>
        <div class="contenedor">
          <ion-input class="imagenInput" placeholder="Introduce la URL de la imagen" fill="outline" formControlName="imagen" (ionInput)="actualizarImagen($event)"></ion-input>
        </div>

        <ion-text class="nombre">Nombre de la receta</ion-text>
        <div class="contenedor">
          <ion-input class="nombreInput" placeholder="Introduce el nombre de la receta" fill="outline" formControlName="titulo"></ion-input>
        </div>

        <ion-text class="descripcion">Descripción</ion-text>
        <div class="contenedor">
          <ion-textarea class="descripcionInput" placeholder="Introduce la descripción de la receta" fill="outline" formControlName="descripcion" autoGrow="true"></ion-textarea>
        </div>

        <ion-text class="ingredientes">Ingredientes</ion-text>
        <div class="contenedor ingredientes-container">
          <ion-textarea class="ingredientesInput" placeholder="Ingredientes de la receta" fill="outline" formControlName="ingredientes" readonly autoGrow="true"></ion-textarea>
          <ion-button class="add-button" (click)="anyadirIngrediente()">Añadir</ion-button>
        </div>

        <div class="ingredientes-busqueda">
          <div class="busqueda-contenedor">
            <ion-searchbar
              class="busqueda"
              placeholder="Buscar"
              formControlName="ingredienteBusqueda">
            </ion-searchbar>
          </div>

          <div class="cant-unidad-contenedor">
            <ion-input class="cantidad" placeholder="Cantidad" formControlName="cantidad"></ion-input>
            <ion-select class="unidad" placeholder="Unidad" formControlName="unidad">
              <ion-select-option value="Unidades">Unidades</ion-select-option>
              <ion-select-option value="Pizca">Pizca</ion-select-option>
              <ion-select-option value="Kilogramos">Kilogramos</ion-select-option>
              <ion-select-option value="Gramos">Gramos</ion-select-option>
              <ion-select-option value="Miligramos">Miligramos</ion-select-option>
              <ion-select-option value="Litros">Litros</ion-select-option>
              <ion-select-option value="Mililitros">Mililitros</ion-select-option>
              <ion-select-option value="Cucharada">Cucharada</ion-select-option>
              <ion-select-option value="Cucharadita">Cucharadita</ion-select-option>
              <ion-select-option value="Taza">Taza</ion-select-option>
            </ion-select>
          </div>
        </div>


        <div [ngClass]="{'margen-negativo': ingredientesFiltrados.length > 0}">
          <ion-list *ngIf="ingredientesFiltrados.length > 0">
            <ion-item *ngFor="let ingrediente of ingredientesFiltrados" (click)="seleccionarIngrediente(ingrediente)">
              {{ ingrediente }}
            </ion-item>
          </ion-list>
        </div>


        <ion-text class="receta">Paso a paso</ion-text>
        <div class="contenedor">
          <ion-textarea class="recetaInput" placeholder="Introduce los pasos para preparar la receta" fill="outline" formControlName="receta" autoGrow="true"></ion-textarea>
        </div>

        <ion-text class="etiquetas">Etiquetas</ion-text>
        <div class="contenedor etiquetas-container">
          <ion-textarea class="etiquetasInput" placeholder="Etiquetas de la receta" fill="outline" formControlName="etiquetas" readonly autoGrow="true"></ion-textarea>
        </div>

        <div class="etiquetas-contenedor">
          <ion-searchbar class="busquedaEtiq" placeholder="Buscar" formControlName="etiquetaBusqueda"></ion-searchbar>
          <ion-button class="add-button-2" (click)="anyadirEtiqueta()">Añadir</ion-button>
        </div>

        <div [ngClass]="{'margen-negativo-2': etiquetasFiltradas.length > 0}">
          <ion-list *ngIf="etiquetasFiltradas.length > 0">
            <ion-item *ngFor="let etiqueta of etiquetasFiltradas" (click)="seleccionarEtiqueta(etiqueta)">
              {{ etiqueta }}
            </ion-item>
          </ion-list>
        </div>

        <div class="contenedor-dif-rac">
          <div class="contenedor-dificultad">
            <ion-text class="dificultad">Dificultad</ion-text>
            <ion-select class="select_dif" placeholder="Dificultad" formControlName="dificultad">
              <ion-select-option value="Facil">Fácil</ion-select-option>
              <ion-select-option value="Medio">Medio</ion-select-option>
              <ion-select-option value="Dificil">Difícil</ion-select-option>
              <ion-select-option value="Muy_dificil">Muy difícil</ion-select-option>
            </ion-select>
          </div>

          <div class="contenedor-raciones">
            <ion-text class="raciones">Número de raciones</ion-text>
            <ion-input class="input_raciones" placeholder="Número de raciones" type="number" formControlName="raciones"></ion-input>
          </div>
        </div>

        <div class="contenedor-tiempo-prep-cocc">
          <div class="contenedor-tiempo-prep">
            <ion-text class="tiempo_prep">Tiempo de preparación</ion-text>
            <ion-input class="input_tiempo_prep" placeholder="T. de preparación" type="number" formControlName="tiempo_preparacion"></ion-input>
          </div>

          <div class="contenedor-tiempo-cocc">
            <ion-text class="tiempo_coccion">Tiempo de cocción</ion-text>
            <ion-input class="input_tiempo_coccion" placeholder="T. de cocción" type="number" formControlName="tiempo_coccion"></ion-input>
          </div>
        </div>

      </ion-list>
      <ion-button class="button_anyadir" expand="full" (click)="doAnyadirPublicacion()">Añadir nueva receta</ion-button>
    </form>
  </div>
</ion-content>

<app-navbar-inferior></app-navbar-inferior>
