ion-content {
  --background: #FFF2DB;
}

.contenido {
  min-height: 1450px;
}

.titulo {
  font-size: 26px;
  font-weight: bold;
  color: #603F26;
  margin-top: 60px;
  margin-bottom: 30px;
}

ion-text {
  color: #603F26;
  padding-inline-start: 20px;
}

ion-list {
  background: #FFF2DB;
  margin-top: 25px;
}

.contenedor {
  margin: 10px 20px 20px;
}

ion-input, ion-textarea {
  background: white;
  border-color: #603F26;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  --placeholder-color: #603F26;
}

.ingredientes-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ingredientesInput {
  flex: 1;
}

.add-button {
  flex: 0;
  white-space: nowrap;
  min-width: 100px;
  margin: 0;
  margin-top: auto;
}

.add-button-2 {
  flex: 0;
  white-space: nowrap;
  min-width: 100px;
  margin: 0;
  margin-top: auto;
}

.ingredientes-busqueda {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.ingredientes-busqueda ion-searchbar {
  flex: 2;
  min-width: 150px;
  --background: #FFFFFF;
  --box-shadow: none;
  --border: none;
  border-radius: 40px;
  --placeholder-color: #603F26;
  padding-left: 10px;
  margin-left: 11px;
}

.ingredientes-busqueda ion-input {
  flex: 1;
  min-width: 100px;
}

.ingredientes-busqueda ion-select {
  flex: 1;
  min-width: 120px;
}

.ingredientes-busqueda ion-button {
  flex: 0.5;
  min-width: 80px;
}

ion-button {
  --background: #6C4E31;
  display: block;
  margin: 80px 20px 0 20px;
}

.input-error {
  border: 1px solid red;
}

.descripcionInput, .ingredientesInput, .recetaInput {
  --padding-bottom: -40px;
}

.ingredientes-busqueda {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: -18px;
}

.busqueda-contenedor {
  flex: 2;
  min-width: 200px;
}

.cant-unidad-contenedor {
  flex: 1;
  display: flex;
  gap: 10px;
  min-width: 220px;
}

ion-input, ion-textarea {
  --padding-start: 10px;
}

.imagen img {
  border-radius: 15px;
  border: 3px solid #603F26;
  display: block;
  width: 60%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .imagen img {
    max-width: 30%; /* Ajusta este valor según tus necesidades */
  }
}

.busquedaEtiq {
  flex: 2;
  --background: #FFFFFF;
  --box-shadow: none;
  --border: none;
  border-radius: 40px;
  --placeholder-color: #603F26;
  padding-left: 10px;
  margin-left: 11px;
  margin-bottom: -10px;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-title {
  flex: 1;
  text-align: left;
}


.etiquetas-contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.button_anyadir {
  margin-top: 10px;
}

.ingredientesInput.extra-padding {
  padding-bottom: 20px;
}

.margen-negativo {
  margin-top: -35px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.margen-negativo-2 {
  margin-top: -25px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.contenedor-dif-rac {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  gap: 15px;
}

.contenedor-dificultad, .contenedor-raciones {
  flex: 1;
  min-width: 150px;
}

.select_dif, .input_raciones {
  width: 100%;
  background: white;
  border: 1px solid #603F26;
  border-radius: 8px;
}

.select_dif {
  padding-left: 10px;
}

.dificultad,.raciones, .tiempo_prep, .tiempo_coccion {
  padding-left: 0px;
}

.select_dif, .input_raciones, .input_tiempo_prep, .input_tiempo_coccion {
  margin-top: 10px;
}


.contenedor-tiempo-prep-cocc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-radius: 12px;
  gap: 15px;
}

.contenedor-tiempo-prep, .contenedor-tiempo-cocc {
  flex: 1;
  min-width: 150px;
}

.input_tiempo_prep, .input_tiempo_coccion {
  width: 100%;
  background: white;
  border: 1px solid #603F26;
  border-radius: 8px;
  padding: 8px;
}


@media (max-width: 410px) {
  .ingredientes-busqueda {
    flex-direction: column;
    align-items: flex-start;
  }

  .busqueda-contenedor {
    margin-right: 20px;
  }

  .cant-unidad-contenedor {
    margin-left: 20px;
    width: 100%;
  }

  .cant-unidad-contenedor ion-input,
  .cant-unidad-contenedor ion-select {
    width: 100%;
  }
}
