<div class="desktop-menu">
  <ion-label class="blanco" (click)="navigateToParati()">Inicio</ion-label>
  <ion-label class="blanco" (click)="navigateToExplorar()">Buscar</ion-label>
  <ion-label class="blanco" (click)="navigateToAgregar()">Agregar</ion-label>
  <ion-label class="blanco" (click)="navigateToChat()">Mensajes</ion-label>
  <ion-label class="blanco" (click)="navigateToPerfil()">Perfil</ion-label>
  <ion-label class="blanco" (click)="navigateToAdmin()" *ngIf="isAdmin">Admin</ion-label>
</div>
