<ion-header class="marronClaro">
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Explorar</ion-title>
      <app-navbar-superior></app-navbar-superior>
      <ion-icon name="notifications-outline" (click)="navigateToNotificaciones()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <div class="search-filter-container buscador">
      <ion-searchbar
        class="searchbar-blanco"
        placeholder="Escribe tu búsqueda..."
        [(ngModel)]="searchText"
        (ionInput)="onSearch()"
        showCancelButton="focus"
      ></ion-searchbar>

      <ion-select
        class="filtro select-blanco"
        [(ngModel)]="selectedFilter"
        (ionChange)="onFilterChange()"
      >
        <ion-select-option *ngFor="let filter of filters" [value]="filter">
          {{ filter }}
        </ion-select-option>
      </ion-select>
    </div>
  </ion-card-content>

  <div class="image-grid">
    <div class="image-item" *ngFor="let item of filteredItems">
      <img [src]="item" alt="Image">
    </div>
  </div>


</ion-content>
<app-navbar-inferior></app-navbar-inferior>
