<ion-header class="marronClaro">
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Explorar</ion-title>
      <app-navbar-superior></app-navbar-superior>
      <ion-icon name="notifications-outline" (click)="navigateToNotificaciones()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="searchbar-blanco" placeholder="Buscar por MeatBall"></ion-searchbar>
</ion-content>

<ion-button expand="block" class="editarPerfil" (click)="navigateToVerPublicacion()">Ver Publicación</ion-button>

<app-navbar-inferior></app-navbar-inferior>
