ion-content {
  --background: #FFF2DB;
}

.contenido {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 350px;
  height: auto;
}

.titulo {
  font-weight: bold;
  font-size: 22px;
  color: #603F26;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}

ion-button {
  --background: #6C4E31;
  margin: 20px 0;
  width: 80%;
}

