<ion-header class="marronClaro">
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-icon class="volver" name="arrow-back-outline" (click)="goBack()"></ion-icon>
      <ion-img class="foto" src="{{perfil.fotoPerfilLink || 'assets/icon/foto_perfil.webp'}}" alt="FotoPerfil"></ion-img>
      <ion-title class="nombreUsuario">{{perfil.username}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content  #content scroll-y="true">


    <ion-list #chatList>

      <ion-item lines="none" *ngFor="let m of mensajes">

        <ion-avatar slot="start" *ngIf="m.idEmisor === idPerfil">
          <ion-img src="{{perfil.fotoPerfilLink || 'assets/icon/foto_perfil.webp'}}"></ion-img>
        </ion-avatar>
        <ion-label class="message-bubble" *ngIf="m.idEmisor === idPerfil">
          {{ m.mensaje }}
          <br>
          <ion-text style="font-size: 9pt; color: #251406">{{ m.fecha?.substring(11, 16) }}</ion-text>
        </ion-label>


        <ion-avatar slot="end" *ngIf="m.idEmisor !== idPerfil">
          <ion-img src="{{perfilFoto.fotoPerfilLink || 'assets/icon/foto_perfil.webp'}}"></ion-img>
        </ion-avatar>
        <ion-label class="message-bubble" slot="end" *ngIf="m.idEmisor !== idPerfil">
          {{ m.mensaje }}
          <br>
          <ion-text style="font-size: 9pt; color: #251406">{{ m.fecha?.substring(11, 16) }}</ion-text>
        </ion-label>

      </ion-item>


    </ion-list>


</ion-content>

<ion-footer class="marronClaro">
  <ion-toolbar class="marronClaro">
    <form [formGroup]="mensajeForm" id="formularioMensaje">
      <ion-item class="rectangulo">
        <ion-input formControlName="texto" id="textoMensaje" name="texto"
                   style="color: #6C4E31"
                   placeholder="Escribe un mensaje">
        </ion-input>
        <ion-icon class="enviar" name="send-outline" size="large"
                  style="color: #362110" (click)="enviarMensaje()">
        </ion-icon>
      </ion-item>
    </form>

  </ion-toolbar>
</ion-footer>
