<ion-header class="marronClaro navbar-superior" >
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Ver publicación</ion-title>
      <app-navbar-superior></app-navbar-superior>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="header-content">
      <ion-col size="2" class="centrar">
        <ion-fab (click)="darLike()">
          <ion-fab-button [ngClass]="{'marronOscuro': leHaDadoLike}">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
      <ion-col size="8" class="centrar">
        <ion-text class="titulo centrar">{{publicacion.titulo}}</ion-text>
      </ion-col>
      <ion-col size="2" class="centrar">
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="chatbubble-outline" (click)="openModal()" expand="block"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modalRef (willDismiss)="onWillDismiss($event)" class="marronOscuro" [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-header class="marronOscuro modal-header">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" class="modal-button">Cancelar</ion-button>
          </ion-buttons>
          <ion-title class="modal-title">Comentar Publicación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true" class="modal-button">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding modal-content">
        <ion-item>
          <ion-input
            label="Comentario"
            labelPlacement="stacked"
            type="text"
            placeholder="Escribe el comentario"
            [(ngModel)]="textoComentario"
            class="modal-input"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>



  <img class="imagenes" src="{{publicacion.imagenLink}}">

  <ion-grid class="centrar">
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row class="fila raciones">
            <ion-icon name="happy-outline" class="icono"></ion-icon>
            <ion-text class="texto">{{publicacion.dificultad}}</ion-text>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="fila">
            <ion-icon name="stopwatch-outline"></ion-icon>
            <ion-text class="texto">{{publicacion.tiempoCoccion}}</ion-text>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col>
        <ion-grid>
          <ion-row class="fila">
            <ion-icon name="flash-outline"></ion-icon>
            <ion-text class="texto">{{publicacion.tiempoPreparacion}}</ion-text>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="fila raciones">
            <ion-icon name="restaurant-outline"></ion-icon>
            <ion-text class="texto">{{publicacion.raciones}}</ion-text>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div>
    <ion-label class="textoLabels">Descripción</ion-label>

    <ion-card color="light">
      <ion-card-content>
        <ion-text class="texto">{{publicacion.descripcion}}</ion-text>
      </ion-card-content>
    </ion-card>

    <ion-label class="textoLabels">Receta</ion-label>

    <ion-card color="light">
      <ion-card-content>
        <ion-text class="texto">{{publicacion.receta}}</ion-text>
      </ion-card-content>
    </ion-card>

    <ion-label class="textoLabels">Ingredientes</ion-label>

    <ion-card color="light">
      <ion-card-content>
        <div *ngFor="let ingrediente of publicacion.ingredientes" class="texto">
          {{ ingrediente.nombre }}: {{ ingrediente.cantidad }} {{ ingrediente.unidad }}
        </div>
      </ion-card-content>
    </ion-card>

    <ion-label class="textoLabels">Etiquetas</ion-label>

    <ion-card color="light">
      <ion-card-content>
        <div *ngFor="let etiqueta of publicacion.etiquetas" class="texto">
          {{ etiqueta.nombre }}
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <hr>

  <ion-label class="textoLabels" (click)="mostrarComentariosFunc()">Comentarios</ion-label>

  <ion-grid class="sin-espacios" [ngClass]="{'slide-down': mostrarComentarios, 'slide-up': !mostrarComentarios}" *ngIf="mostrarComentarios">
    <ion-row class="sin-espacios">

      <ion-col size="12" class="sin-espacios"  *ngFor="let comentario of comentarios">
        <ion-item class="tarjetaImpar">
          <ion-thumbnail slot="start">
            <img class="img" alt="Silhouette of mountains" [src]="comentario.fotoUsuario || 'assets/icon/foto_perfil.webp'"/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label class="textoUsuario">{{comentario.nombreUsuario}}</ion-label>
                <ion-label class="mensaje">{{comentario.comentario}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<div class="contenedorBotones" *ngIf="mostrarBotonPerfil">
  <ion-button expand="block" class="editarPerfil" (click)="navigateToPerfil(publicacion.usuarioId)">Ver Perfil</ion-button>
  <ion-button expand="block" class="reportarPublicacion" (click)="reportarPublicacion(publicacion.id)">Reportar Publicación</ion-button>
</div>
<app-navbar-inferior></app-navbar-inferior>
