.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ion-button {
  --background: #6C4E31;
  display: block;
  margin: 10px 20px;
}

.titulo{
  font-size: 2.2em;
  color: #603F26;
  font-weight: bold;
  margin-top: 1em !important;
}

.texto {
  margin-left: 0.5em;
  font-size: 1.5em;
  color: #603F26;
}

.textoLabels{
  margin-left: 0.8em;
  font-size: 1.2em;
  color: #603F26;
}

ion-icon{
  font-size: 2em;
  color: #603F26;
}

ion-text{
  padding: 0;
  --padding-start: 0;
  --margin-start: 0;
}

ion-icon{
  font-size: 2em;
  color: #603F26;
  margin-bottom: 0.2em;
}

.imagenes{
  max-height: 10em;
  max-width: 20em;
  border-radius: 50px !important;
  display: block;
  margin: 2em auto 0;
}

.centrar {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icono{
  font-size: 2em;
  color: #603F26;
}

.fila{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1em;
}

.raciones{
  width: 100%;
  flex-wrap: nowrap;
}
