<ion-header class="marronClaro navbar-superior" >
  <ion-toolbar class="marronClaro">
    <div class="header-content">
      <ion-title class="blanco">Ver publicación</ion-title>
      <app-navbar-superior></app-navbar-superior>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="titulo centrar">Receta Título</ion-text>

  <img class="imagenes" src="https://www.hola.com/horizon/landscape/b746be5ae38a-adobestock496117067.jpg">

  <ion-row class="izq">

    <ion-col>
      <ion-row style="margin-left: 0px !important; --margin-start: 0px !important;">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-text class="texto">Fácil</ion-text>
      </ion-row>
      <ion-row>
        <ion-icon name="stopwatch-outline"></ion-icon>
        <ion-text class="texto">20 min</ion-text>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-icon name="flash-outline"></ion-icon>
        <ion-text class="texto">30 min</ion-text>
      </ion-row>
      <ion-row>
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-text class="texto">4 raciones</ion-text>
      </ion-row>
    </ion-col>

  </ion-row>

  <div>
    <ion-label class="textoLabels">Descripción</ion-label>

    <ion-card color="light">
      <ion-card-content>
        <ion-text class="texto">Descripción de la receta</ion-text>
      </ion-card-content>
    </ion-card>

    <ion-label class="textoLabels">Ingredientes</ion-label>

    <ion-card color="light">
      <ion-card-content>
        <ion-text class="texto">Ingredientes de la receta Ingredientes de la receta Ingredientes de la receta
          Ingredientes de la receta Ingredientes de la receta Ingredientes de la receta Ingredientes de la receta Ingredientes de la receta
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>

<ion-button expand="block" class="editarPerfil" (click)="navigateToPerfil()">Ver Perfil</ion-button>
<app-navbar-inferior></app-navbar-inferior>
